.stockContainer {
    border: solid;
    background-color: teal;
    width: 50%;
    margin: 0 auto;
    border-radius: 10%;
} 
  
.stockStockContainer {
  display: flex;
  justify-content: space-evenly;
}

.stockStockContainer div {
  width: 25%;
}
